<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<style>

.badge-color{
  font-color: #FF0000;
  color: #6AA121;
  align: center;
}

.badge-color2{
  font-color: #FF0000;
  color: #FF0000;
  align: center;
}

</style>



<div class="row">
<div class="span8">
<h1>About popular-now</h1>
<p class="lead"> The app helps you read only popular Tweets by predicting popularity of new Tweets. </p>

<p> Tweets are grouped into three topics Data Science and Visualization, Celebrities and Sport. Content in each topic comes from a curated list of authors. Full list of authors is <a href="/authors">here</a>. Each feed shows only Tweets from last 24 hours divided among three categories.</p>

<ul class="nav nav-tabs">
  <li class="active"> <a href="#"><i class="icon-star"></i> Popular </a></li>
  <li > <a href="#"> <i class="icon-star-half-empty"></i> All </a> </li>
  <li > <a href="#"><i class="icon-retweet"></i> ReTweets</a></li>
</ul>



<ul>
	<li> <strong>Popular</strong> contains only Tweets which are predicted to become popular or were already popular at the moment of refresh. </li>
	<li> <strong>All</strong> contains all Tweets from Popular tab and Tweets which are predicted not to become popular. The unpopular Tweets are stroked-through. </li>
	<li> <strong>ReTweets</strong> contains Tweets, marked as RT in original text of a Tweet which means they were written by authors from outside of the curated list.</li>
</ul>


<p> At any moment, one can refresh the feed. With a push of a <strong>Refresh Feed</strong> button, the app connects with Twitter and download latest Tweets. Each new Tweet is scored and its future popularity status is predicted. There are two types of Tweets which show up in Popular and All tabs:
<ul>
	<li> <i class="icon-asterisk badge-color2"></i> Tweets predicted to become popular with time.</li>
	<li> <i class="icon-asterisk badge-color"></i> Tweets which at the moment of Feed refresh are already popular.</li>
</ul>	



<h4> How is popularity defined? </h4>
<p> We define a popular Tweet on a per author basis. For each author contributing to a given topic, we calculate an average number of re-tweets per Tweet they received in the past. The number is shown in the <a href="/authors"> Authors tab</a>. For example, Nate Silver on average collects 123.6 re-tweets per Tweet. We classify his Tweets as popular, each time number of re-tweets exceeds the average. For example, a Tweet below with 222 re-Tweets would be classified as popular, and a Tweet with 118 re-tweets as not popular. With a popularity threshold relative to author's "fame" we are avoiding a case where our feed is overwhelmed by Tweets written by popular authors. </p>

<div class="row">
<div class="span4">
<p class="lead">Popular<p>
<blockquote class="twitter-tweet"><p>Search API will now always return "real" Twitter user IDs. The with_twitter_user_id parameter is no longer necessary. An era has ended. ^TS</p>&mdash; Twitter API (@twitterapi) <a href="https://twitter.com/twitterapi/status/378238594466332672" data-datetime="2011-11-07T20:21:07+00:00">November 7, 2011</a></blockquote>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>

<div class="span4">
<p class="lead">Not popular<p>
<blockquote class="twitter-tweet"><p>Search API will now always return "real" Twitter user IDs. The with_twitter_user_id parameter is no longer necessary. An era has ended. ^TS</p>&mdash; Twitter API (@twitterapi) <a href="https://twitter.com/twitterapi/status/327543243724177408" data-datetime="2011-11-07T20:21:07+00:00">November 7, 2011</a></blockquote>
<script src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>


<h4> Popularity prediction </h4>

<p>Behind the scenes sits a logistic regression classifier, built for each topic separately, and trained and validated on Tweets older than 4 days and younger than 1 year. Each Tweet and its author were characterized by about two dozens features related to the Tweet text (for example number of characters, number of words, mean length of a word, number of links, #hashtags, @references, digits, day, month, hour of publication and others) or its author (for example number of followers, number of friends, number of tweets, mean/max/median number of re-tweets, ratio or followers to friends and others). We found that Tweet popularity can be predicted with only 4-5 features per topic. Interestingly popularity in each topic is predicted by a different set of features which must reflect differences in audience and their needs.</p>

</div>
</div>


{% endblock %}